<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <div id="app">
    <div>{{ msg }}</div>
    <div>{{ obj }}</div>
    <div>{{ arr }}</div>
    <div>
      <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
      </span>
    </div>
    <div>
      <button v-on:click="handleClick">click me</button>
    </div>
    <input v-model="inputVal" />
    <div>{{ inputVal }}</div>
    <input type="checkbox" v-model="isChecked" />
    <div>{{ isChecked }}</div>
    <select v-model="selectValue">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <div>{{ selectValue }}</div>
  </div>
  <script type="module">
    import Vue from './index.js'
    const ins = new Vue({
      el: '#app',
      data() {
        return {
          msg: 'hello vue',
          obj: {
            t: 'testObj'
          },
          arr: [1, 2, 3],
          message: '页面加载于 ' + new Date().toLocaleString(),
          inputVal: 'test',
          isChecked: true,
          selectValue: 2
        }
      },
      methods: {
        handleClick() {
          console.log('handle click')
        }
      }
    })
    setTimeout(() => {
      ins.msg = 'change hello vue'
    }, 1000)
    setTimeout(() => {
      ins.obj.t = 'change testObj'
    }, 2000)
    setTimeout(() => {
      ins.arr.push(4)
    }, 3000)
  </script>
</body>

</html>